<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]




    # RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]


    RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg)$

    <Files ~ "\.(env|config.js|md|xml|gitignore|gitattributes|lock|editorconfig|yml|styleci.yml|composer.loc|composer.json)$">
    Order allow,deny
    Deny from all
</Files>
Options -Indexes
# Prevent access to specific file types
<FilesMatch "\.(env|ini|log|htaccess|git|composer.json|composer.lock)">
    Order allow,deny
    Deny from all
</FilesMatch>

# Prevent access to specific directories
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(storage|vendor|app) - [F,L,NC]
</IfModule>

<Files ~ "(artisan|package.json|webpack.mix.js)$">
    Order allow,deny
    Deny from all
</Files>

 </IfModule>
