.bg-main {
    background: #00204e;
    color: #fff;
}

.logout-btn {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.text-main {
    color: #00204e;
}

.sweetDanger {
    border: none;
    background: #ed0303;
    color: #fff;
}

.swal-button {
    background-color: #00204e;
}

.bg-default {
    background-color: #00204e;
}

.bg-danger {
    background: #c20430;
}

.bg-warning {
    background: #f0ab00;
}

.nav-tabs-highlight,
.nav-tabs-overline,
.nav-tabs-underline {
    --nav-tabs-underline-color: #00204e;
}

bg-extra {
    background: #707271;
}

.btn-default {
    border: 2px solid #00204e;
    color: #00204e;
    background-color: #fff;
    font-weight: 600;
}

.btn-default:hover {
    border: 2px solid #00204e;
    color: #00204e;
    background-color: #fff;
    font-weight: 500;
}

.btn-main {
    background: #00204e;
    color: #fff;
    font-weight: 600;
}

.btn-main:hover {
    background: #00204e;
    color: #fff;
    font-weight: 600;
}

.bg-main-nav {
    color: #000;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.144);
}

.btn-perfrom {
    background-color: #00204e;
    color: #fff;
    font-weight: 500;
}

.btn-perfrom:hover {
    background-color: #00204e;
    color: #fff;
    font-weight: 500;
}

.sidebar-control {
    color: #000;
}

.sidebar-control:hover {
    color: #000;
}

.sidebar-section .main-link li a {
    color: #000;
}

.sidebar-section .main-link li a.active {
    color: #000;
    background: #001a4943;
}

.sidebar-section ul .nav-item-submenu.nav-item-open a {
    color: #000;
}

.sidebar-section ul li a:hover {
    color: #000;
}

.sidebar-section ul li .nav-group-sub li a {
    color: #000;
}

.sidebar-section ul li .nav-group-sub.show {
    color: #000;
}

.sidebar-section ul li .nav-group-sub.show li .nav-link.active {
    background: #001a4943;
}
