.bg-main {
    background: #00204e;
    color: #fff;
}

.border-main {
    --border-opacity: 1;
    border-top-color: (#00204e, var(--border-opacity)) !important;
}

.border-top-main {
    --border-opacity: 1;
    border-top-color: (#00204e, var(--border-opacity)) !important;
}

.bg-main-light {
    --bg-opacity: 1;
    background-color: rgba(#00204e, var(--bg-opacity)) !important;
}

.logout-btn {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.text-main {
    color: #00204e;
}

.bg-default {
    background-color: #00204e;
}

.bg-danger {
    background: #c20430;
}

.bg-warning {
    background: #f0ab00;
}

.nav-tabs-highlight,
.nav-tabs-overline,
.nav-tabs-underline {
    --nav-tabs-underline-color: #00204e;
}

bg-extra {
    background: #707271;
}

.btn-default {
    border: 2px solid #00204e;
    color: #00204e;
    background-color: #fff;
    font-weight: 600;
}

.btn-default:hover {
    border: 2px solid #00204e;
    color: #00204e;
    background-color: #fff;
    font-weight: 500;
}

.btn-main {
    background: #00204e;
    color: #fff;
    font-weight: 600;
}

.btn-main:hover {
    background: #00204e;
    color: #fff;
    font-weight: 600;
}

.bg-main-nav {
    color: #000;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.144);
}

.btn-perfrom {
    background-color: #00204e;
    color: #fff;
    font-weight: 500;
}

.btn-perfrom:hover {
    background-color: #00204e;
    color: #fff;
    font-weight: 500;
}

.nav-sidebar .nav-link {
    color: #00204e;
}

.nav-sidebar .nav-link.active {
    background-color: #00204e;
    color: #fff;
}
