.bg-main {
    background: #00204e;
    color: #fff;
}

.border-main {
    --border-opacity: 1;
    border-top-color: (#00204e, var(--border-opacity)) !important;
}

.border-top-main {
    --border-opacity: 1;
    border-top-color: (#00204e, var(--border-opacity)) !important;
}

.border-bottom-main {
    --border-opacity: 1;
    border-bottom-color: (#00204e, var(--border-opacity)) !important;
}

.bg-main-light {
    --bg-opacity: 1;
    background-color: rgba(#00204e, var(--bg-opacity)) !important;
}

.logout-btn {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.text-main {
    color: #00204e;
}

.bg-default {
    background-color: #00204e;
}

.bg-danger {
    background: #c20430 !important;
}

.bg-warning {
    background: #f0ab00 !important;
  
}

.border-top-warnin {
    --border-opacity: 1;
    border-bottom-color: (#f0ab00, var(--border-opacity)) !important;
}


.bg-pending{
    background:  #f58646 !important;
}

.border-warning {
    border-bottom: 3px solid #f0ab00 !important;
    
}

button.swal2-confirm{
    background-color: #00204e !important;
    color: #fff;
    border: none !important;
    border-radius: 2% !important;
    padding: auto;
    font-size: 15px !important;
}
/* .swal2-confirm:hover{
    background-image: linear-gradient(180deg, #f0ab00 10%, #f7c341 100%);
    background-size: cover;
    color:#c20430!important; 
    border: none !important;
    border-radius: 2% !important;
    font-size: 15px !important;
} */

button.swal2-cancel{
    background: #c20430 !important;
    color: #fff;
    border: none !important;
    border-radius: 2% !important;
    font-size: 15px !important;
    padding: auto;
    
}

/* button.swal2-cancel:hover{
    background-image: linear-gradient(180deg, #f0ab00 10%, #f7c341 100%);
    background-size: cover;
    color:#fff!important; 
    border: none !important;
    border-radius: 2% !important;
    font-size: 15px !important;
} */

.bg-main-gradient{
    background-image: linear-gradient(180deg,  #0a1330 95%,#f0ab00 10%);
    background-size: cover;
}

thead{
    background-color:#00204e !important; 
    border: none !important;
    color: #fff;
}
.text-warning {
    color: #f0ab00 !important;
    /* font-weight: 600; */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.1em;
    line-height: normal;
    font-family: Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h5 {
    color: #f0ab00 !important;
    /* font-weight: 600; */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.1em;
    line-height: normal;
    font-family: Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    color: #f0ab00 !important;
    /* font-weight: 600; */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.1em;
    line-height: normal;
    font-family: Verdana, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.btn-icon {
    background-color:#00204e !important;
    color: #fff;
    visibility: visible;
    opacity: 1;
}
.swal2-title{
    font-size: 14px !important;
    text-transform: none;
    color:#00204e !important;
    font-weight: 600;
}

.active>.page-link
{
    background-color:#00204e !important; 
    border: none !important;

}

.active.page-link:hover
{
    /* background-color:#f0ab00 !important; */
    background-image: linear-gradient(180deg, #f0ab00 10%, #f7c341 100%);
    background-size: cover;

}
.nav-link:hover{
    background-image: linear-gradient(180deg, #f0ab00 10%, #f7c341 100%);
    background-size: cover;
    color:#c20430!important; 
}


.btn:hover{
    background-color: #f0ab00 !important;
    color:#00204e !important; 
}
.nav-tabs-highlight,
.nav-tabs-overline,
.nav-tabs-underline {
    --nav-tabs-underline-color: #00204e;
}

bg-extra {
    background: #707271;
}

.btn-default {
    border: 2px solid #00204e;
    color: #00204e;
    background-color: #fff;
    font-weight: 600;
}

.btn-default:hover {
    border: 2px solid #00204e;
    color: #00204e;
    background-color: #fff;
    font-weight: 500;
}

.btn-main {
    background: #00204e;
    color: #fff;
    font-weight: 600;
}

.btn-main:hover {
    background: #00204e;
    color: #fff;
    font-weight: 600;
}

.bg-main-nav {
    color: #000;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.144);
}

.btn-perfrom {
    background-color: #00204e;
    color: #fff;
    font-weight: 500;
}

.btn-perfrom:hover {
    background-color: #00204e;
    color: #fff;
    font-weight: 500;
}

.nav-sidebar .nav-link {
    color: #00204e;
}

.nav-sidebar .nav-link.active {
    background-color: #00204e;
    color: #fff;
}
