.bg-main {
    background: #001949;
    color: #fff;
}

.bg-main-nav {
    color: #000;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.144);
}

.sidebar-control {
    color: #000;
}

.sidebar-control:hover {
    color: #000;
}

.sidebar-section .main-link li a {
    color: #000;
}

.sidebar-section .main-link li a.active {
    color: #000;
    background: #001a4943;
}

.sidebar-section ul .nav-item-submenu.nav-item-open a {
    color: #000;
}

.sidebar-section ul li a:hover {
    color: #000;
}

.sidebar-section ul li .nav-group-sub li a {
    color: #000;
}

.sidebar-section ul li .nav-group-sub.show {
    color: #000;
}

.sidebar-section ul li .nav-group-sub.show li .nav-link.active {
    background: #001a4943;
}
